<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Python Line Solver</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Short Line Method</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Exponential Model Line</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hyperbolic Model Line</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Line Model T</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Line Model Pi</a>
            </li>
        </ul>
        <span class="navbar-text">
            by Vinicio Schmidt
        </span>
    </div>
</nav>