<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark"
data-step="2"
data-intro="Select line solver method here"
>
    <a class="navbar-brand" href="#">Python Line Solver</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li id="short_line_nav" class="nav-item">
                <a class="nav-link" onclick="short_line()">Short Line Method</a>
            </li>
            <li id="exponential_line_nav" class="nav-item">
                <a class="nav-link" onclick="exponential_line()">Exponential Model Line</a>
            </li>
            <li id="hyperbolic_line_nav" class="nav-item">
                <a class="nav-link" onclick="hyperbolic_line()">Hyperbolic Model Line</a>
            </li>
            <li id="model_t_line_nav" class="nav-item">
                <a class="nav-link" onclick="model_t_line()">Line Model T</a>
            </li>
            <li id="model_pi_line_nav" class="nav-item">
                <a class="nav-link" onclick="model_pi_line()">Line Model Pi</a>
            </li>
        </ul>
        <span class="badge badge-success" onclick="introJs().start();">
            Help Usage
        </span>
    </div>
</nav>